APP_NAME=Uplist
APP_ENV=
APP_KEY=base64:FUm5RaFrQFV7bLFNuauRbywigqbt9WvKBdVAWXuZFow=
APP_DEBUG=
APP_URL=
FRONTEND_URL=
APP_TIMEZONE=

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_URL=
FLYER_ASSETS_URL=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

AZURE_STORAGE_NAME=
AZURE_STORAGE_KEY=
AZURE_STORAGE_CONTAINER=
AZURE_STORAGE_URL=

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_API_VERSION=

SENDGRID_API_KEY=
SENDGRID_STRIPE_REDIRECT_TEMPLATE=
SENDGRID_WELCOME_TEMPLATE=
SENDGRID_SUCCESS_CHECKOUT_TEMPLATE=
SENDGRID_OTP_TEMPLATE=
SENDGRID_VERIFICATION_TEMPLATE=
SENDGRID_REQUEST_UPLIST_PROPERTY=
SENDGRID_LO_CHANGE_COMPANY_NOTIF=
SENDGRID_BORROWER_INVITATION=
SENDGRID_BUYERS_PRE_APPROVAL_REQUEST_LETTER=
SENDGRID_CONTACT_REQUEST=
SENDGRID_ADMIN_REPORT_TEMPLATE=
SENDGRID_DEFAULT_COMPANY_LOGO=
SENDGRID_QUICK_QUOTE_INQUIRY=
SENDGRID_AGENT_LISTING_NOTIFICATION=
SENDGRID_AGENT_LISTING_INQUIRY=

OPTIMAL_BLUE_CLIENT_ID=
OPTIMAL_BLUE_CLIENT_SECRET=
OPTIMAL_BLUE_GRANT_TYPE=
OPTIMAL_BLUE_RESOURCE=
OPTIMAL_BLUE_DEFAULT_PRICE=

ESSENT_API_KEY=

MESSAGING_SERVICE=TWILIO

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

AWS_ACCESS_KEY=
AWS_ACCESS_SECRET=
AWS_REGION=

HUBSPOT_ACCESS_TOKEN=

RECAPTCHA_SECRET_KEY=

SESSION_DOMAIN=
SANCTUM_STATEFUL_DOMAINS=

ADMIN_EMAIL=
ADMIN_NAME=

PDFCO_API_KEY=
