.maintenance-image{
    max-width: 600px;
    width: 550px;
}

@media screen and (max-width: 992px) { 
    .maintenance-image{
        max-width: 300px;
        width: 300px;
    }

}

@media screen and (max-width: 692px) {
    .maintenance-image{
        max-width: 300px;
        width: 200px;
    }

}